@use 'variables' as v;

.features{
    padding: 25px;
    text-align: center;
    margin-top: 50px;

    &__title{
        margin-bottom: 15px;
    }
    &__text{
        color: v.$Grayish-Blue;
        line-height: 1.4;
        font-size: 16px;
        padding-bottom: 30px;
        border-bottom: 1px solid v.$Grayish-Blue;
    }
    &__item{
        border-bottom: 1px solid v.$Grayish-Blue;
        
    }
    &__link{
        padding: 20px 0;
        color: black;
        &:hover{
            border-bottom: 5px solid v.$Soft-Red;
            
        }
    }

}

.features-tab-one{
    &__image{
        margin: 80px 0;
    }
    
    &__title{
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        color: v.$Grayish-Blue;
        line-height: 1.4;
    }
    &__button{
        display: none;
    }
}

.features-tab-two{
    display: none;
    &__image{
        margin: 80px 0;
    }
    
    &__title{
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        color: v.$Grayish-Blue;
        line-height: 1.4;
    }
    &__button{
        display: none;
    }
}

.features-tab-three{
    display: none;
    &__image{
        margin: 80px 0;
    }
    
    &__title{
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        color: v.$Grayish-Blue;
        line-height: 1.4;
    }
    &__button{
        display: none;
    }
}